.heading {
  color: teal;
  text-align: center;
}

.links-wrapper {
  display: flex;
  justify-content: center;
}
.my-link-i,
.my-link-f,
.my-link-t {
  padding: 5px;
  border: 2px solid;
  border-radius: 10px;
  font-size: 30px;
  text-decoration: none;
}
.my-link-i {
  color: violet;
}
.my-link-f {
  color: blue;
}
.my-link-t {
  color: aqua;
}
.links-wrapper > * + * {
  margin-left: 20px;
}

